<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js" defer></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="app">
        <p id="taskApp">タスク管理アプリ</p>
        <bt><label>タスク名：</bt><dd><input type="text" v-model="taskName"></dd></label>
        <br>
        <dt><label>期日：</dt><dd><input type="date" v-model="dateData"></dd></label>
        <br>
        <dt><label for="priority">優先度</label></dt>
            <dd><select id="priority" v-model="priority">
                <option :value="val" v-for="(val,index) in priorities" :key="index">{{val}}</option>
            </select>
        </dd>

        <p><button type="button" v-on:click="addTask">登録</button></p>

        <p id="tasklist">タスク一覧</p>
        <dl>
            <dt><label for="sort">並び替え</label></dt>
            <dd>
                <select id="sort" v-model="sort">
                    <option value="asc">昇順</option>
                    <option value="desc">降順</option>
                </select>
            </dd>
            <dt><label for="filter">優先度</label></dt>
        <dd>
            <select id="filter" v-model="filter">
                <option value="all">全て</option>
                <option :value="index" v-for="(val,index) in priorities" :key="index">{{val}}</option>
            </select>
        </dd>
            <dt><label for="search">フリーワード検索</label></dt>
            <dd><input type="search" id="search" v-model="search"></dd>
        </dl>
        <ul>
            <li v-for="(list, index) in results" :key="list">
                <p>タスク名：{{list.taskName}}</p>
                <p>期日：{{dataFormat(list.date)}}</p>
                <p>優先度：{{list.priority}}</p>
                <p>登録日:{{dataFormat(list.publish)}}</p>
            </li>
        </ul>
    </div>
</body>